body{
  margin: 0;
}

nav {
  display: flex;
  justify-content: center; /* Center the group */
  gap: 40px; /* Equal space between links */
  background-color: black;
  padding: 15px;
}

nav a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
}

.padding {
  padding-top: 70px;
  margin-right: 350px;
  margin-left: 350px;
}

.profile-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #000000;
  box-shadow: 0 4px 8px rgba(0,0,0,0.8);
  justify-self: center;
}

.profile-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.herosection{
  text-align: center;
}

.highlights {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.highlight-box {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  width: 200px;
  text-align: center;
}

.highlight-box:hover{
  box-shadow: 0 6px 16px rgba(0,0,0,0.1);
  background-color: black;
  color: white;
}

.highlight-box a{
  text-decoration: none;
  background-color: black;
  padding: 5px;
  border-radius: 2px;
  color: white;
  font-weight: bold;
}

.highlight-box a:hover {
  background-color: #36454F;
  color: white;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  color: #222;
}

.cta{
  color: white;
  background-color: black;
  padding: 15px;
  border-radius: 10px;
  text-decoration: none;
}

.cta:hover{
  background-color: #36454F;
  color: white;
}

#contact a{
  text-decoration: none;
}